CrowdSourcingTool/venv/
CrowdSourcingTool/__pycache__/
PathFinder/Chatbot/models/
PathFinder/Chatbot/.rasa/cache/
Documentation/~$commendation System.docx
PathFinder/Chatbot/.rasa/cache/cache.db
PathFinder/Chatbot/.rasa/cache/cache.db
__pycache__/
.env
.venv
env/
venv/
ENV/