<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src = "index.js"></script>
    
    <title>PathFinder</title>
  </head>
  <body>
    <h1>PathFinder</h1>
    <p dir="rtl">أجب عن السؤال التالي باللغة العربية (بالنسبة لكلية حاسبات):</p>
    <div id="question-container">
      <div id="question">
        <!-- Replace the question below with your actual question -->
        <p>{{ question }}</p>
      </div>
    </div>

    <textarea
      name="answerArea"
      id="answer"
      cols="30"
      rows="5"
      placeholder="اكتب إجابتك هنا"
      dir="rtl"
    ></textarea>
    <!-- <input type="text" id="answer" placeholder="Your answer"> -->

    <br />

    <button class="button" id="btn-continue" onclick="askAnotherQuestion()">
      Submit & Continue
    </button>
    <button class="button" id="btn-skip" onclick="skip()">Skip</button>
    
  </body>
</html>
